@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.container-fluid {
  width: 100vh;

  padding: 0% !important;
  margin: 0% !important;
}

.content {
  margin-left: 320px;
  transition: margin-left 0.4s ease;
}

.main-content {
  height: 100vh;
  overflow-y: auto;
}

.sidebar {
  width: 320px;
  background: #EDE8D0;
  height: 100vh;
  transition: all 0.4s ease;
  overflow: hidden;
  position: fixed;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.collapsed {
  width: 90px;
}

.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 100px;
  display: block;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.sidebar .nav-label {
  display: inline-block;
  opacity: 1;

}

.sidebar-nav {
  white-space: nowrap;
}

.sidebar-nav .nav-item .nav-label {
  font-size: 0.9em;
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: #151A2D;
  border: none;
  cursor: pointer;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
  transform: none;
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: 100;
  /* pastikan tampil di atas elemen lain */
}

.sidebar-header .toggler:hover {
  background: #dde4fb;
}

.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header img {
  width: 100px;
  visibility: hidden;
}

.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar-nav .nav-list .nav-item .nav-link .nav-icon {
  color: #000;
}

.sidebar-nav .nav-list .nav-item .nav-link .nav-label {
  color: black;
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 12px 15px;
  align-items: center;
  text-decoration: none;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link {
  border-radius: 12px;
}

.sidebar .sidebar-nav .nav-link .nav-label {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link.active {
  color: #151A2D;
  background: #fff;
}

/* Optional tambahan untuk memberikan kesan visual yang kuat pada active */
.sidebar-nav .nav-link.active {
  font-weight: bold;
  border-left: 4px solid #1E5631;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  color: #151A2D;
  display: none;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  background: #fff;
  left: calc(100% + 25px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: all 0.4s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

/* Saat sidebar di-collapse */
.sidebar.collapsed~.content {
  margin-left: 90px;
  /* lebar sidebar setelah collapsed */
}

.breadcrumb {
  background: none;
  font-size: 0.95rem;
}

.breadcrumb a {
  text-decoration: none;
}

.judul {
  background: #f1f1f1;
  width: 100%;
  top: 0;  
  padding: 1rem 1.25rem;
  position: fixed;
  height: auto;
  z-index: 1000;
}

.judul h1 {
  font-size: 2rem;
}

.judul p {
  font-size: 1rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .judul h1 {
    font-size: 1.5rem;
  }

  .judul p {
    font-size: 0.9rem;
  }
}

@media (max-width: 650px) {
  .judul h1 {
    font-size: 1.25rem;
    
  }

  .judul p {
    font-size: 0.85rem;
    width: 77%;
  }
}

.judul h1 {
  color: #174D38;
}

.judul p {
  color: #9898A3;
}

.data {
  width: 100%;
  margin-top: 125px;
  background-color: #fff;
  padding: 10px 20px;
}

.header-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-data button {
  width: 180px;
  height: 40px;
  background-color: #174D38;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.header-data button a {
  color: #fff;
  text-decoration: none;
}

.search {
  background-color: #CBD2DC;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.search input {
  width: 500px;
  height: 30px;
  border-radius: 8px;
  border: none;
  text-indent: 10px;
}

.search button {
  width: 120px;
  height: 30px;
  border: 1px solid #CBD2DC;
  border-radius: 8px;
  color: #280559;
}

.card {
  width: 120px;
  height: 120px;
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  position: static !important;
}

.isi-data {
  display: flex;
  justify-content: space-around;
}

.data-guru-baru, .username-pw-baru {
  display: flex;
  margin-top: 20px;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.data-guru-baru input, textarea {
  margin-left: 30px;
  width: 50%;
}

.data-guru-baru label {
  width: 150px;
  margin-right: 20px;
  text-align: start;
}

.username-pw-baru label {
  width: 150px;
  margin-right: 20px;
  text-align: start;
}

.data-guru-baru label::after {
  margin-left: 10px;
}

.username-pw-baru label {
  width: 150px;
  margin-right: 20px;
  text-align: start;
}

.username-pw-baru input {
  width: 50%;
  margin-left: 30px;
}

.daftar-kelas {
  display: flex;
  flex-wrap: wrap;
}

.daftar-kelas a {
  text-decoration: none;
  color: #174D38;
}

.tabel-orang-tua {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabel {
  width: 80%;
  border: none;
}

.pilihan th {
  font-weight: normal;
}

.tabel tr, .tabel td, .tabel th {
  padding: 10px;
  border: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

/* beranda */
canvas#barChartAbsensiBulan {
  width: 100% !important;
  height: auto !important;
  display: block;
}