.judul {
    background: #f1f1f1;
    width: 100%;
    top: 0;
    padding: 10px 20px;
    position: fixed;
}

.judul h1{
    color: #174D38;
}

.judul p {
    color: #9898A3;
}

.data {
    width: 81%;
    margin-top: 110px;
    background-color: #fff;
    padding: 10px 20px;
}

.header-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-data button {
    width: 180px;
    height: 40px;
    background-color: #174D38;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.header-data button a{
    color: #fff;
    text-decoration: none;
}

.search {
    background-color: #CBD2DC;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.search input {
    width: 500px;
    height: 30px;
    border-radius: 8px;
    border: none;
    text-indent: 10px;
}

.search button {
    width: 120px;
    height: 30px;
    border: 1px solid #CBD2DC;
    border-radius: 8px;
    color: #280559;
}

.card {
    width: 120px;
    height: 120px;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
}

.isi-data {
    display: flex;  
    justify-content: space-around;
}

.data-guru-baru, .username-pw-baru {
    display: flex;
    margin-top: 20px;
}

.radio-group{
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-guru-baru input, textarea {
    margin-left: 30px;
    width: 50%;
}

.data-guru-baru label {
    width: 150px;
    margin-right: 20px;
    text-align: start;
}

.username-pw-baru label {
    width: 150px;
    margin-right: 20px;
    text-align: start;
}

.data-guru-baru label::after {
    margin-left: 10px;
}

.username-pw-baru label{
    width: 150px;
    margin-right: 20px;
    text-align: start;
}

.username-pw-baru input {
    width: 50%;
    margin-left: 30px;
}

.daftar-kelas {
  display: flex;
  flex-wrap: wrap;
}

.daftar-kelas a {
  text-decoration: none;
  color: #174D38;   
}

.tabel-orang-tua {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabel{
    width: 80%;
    border: none;
}

.pilihan th {
    font-weight: normal;
}

.tabel tr,.tabel td,.tabel th{
    padding: 10px;
    border: none;
}

input[type="checkbox"] {
    transform: scale(1.5);
}